<header class="site-header">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="../images/logo.svg" alt="FigurineShare Logo" width="150" height="50">
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="catalogue.html">Catalogue</a></li>
                <li><a href="annonces.html">Annonces</a></li>
                <li><a href="espace-membre.html">Espace Membre</a></li>
            </ul> 
        </nav>
        <div class="user-actions">
            <a href="espace-membre.html" class="btn-login">Connexion</a>
            <a href="espace-membre.html#signup" class="btn-signup">Inscription</a>
        </div>
        <button class="menu-toggle" aria-label="Ouvrir le menu">
            <span class="menu-icon"></span>
        </button>
    </div>
</header>